@import 'tailwindcss';

body {
  margin: 0;
  font-family: 'Pretendard', sans-serif;

  * {
    box-sizing: border-box;
  }
  --color-primary: #33c4a8;
  --color-gray: #d9d9d9;
}

@font-face {
  font-family: 'Pretendard';
  src: url('shared/assets/fonts/Pretendard/Pretendard-Thin.woff');
  font-weight: 100;
}

@font-face {
  font-family: 'Pretendard';
  src: url('shared/assets/fonts/Pretendard/Pretendard-Regular.woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Pretendard';
  src: url('shared/assets/fonts/Pretendard/Pretendard-Medium.woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Pretendard';
  src: url('shared/assets/fonts/Pretendard/Pretendard-SemiBold.woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Pretendard';
  src: url('shared/assets/fonts/Pretendard/Pretendard-Black.woff');
  font-weight: 900;
}
